<section class="uk-section uk-section-default">
    <div class="uk-container">
        <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>

            {{#each formularios}}
            <div>
                <a href="/formularios/{{ _id }}/responder">
                <div class="uk-card uk-card-secondary uk-card-body">
                    <h3 class="uk-card-title">{{ titulo }}</h3>
                    <hr>
                    <p>{{ descripcion }}</p>
                </div>
                </a>
            </div>
            {{/each}}

        </div>
    </div>

    <ul class="uk-pagination uk-flex-center" uk-margin>
        {{#each paginas}}

        <li class="{{ clase }}">
            <a href="/formularios/publicos?pg={{valor}}">{{valor}}</a>
        </li>

        {{/each}}
    </ul>
</section>
