<section class="uk-section">
    <div class="uk-container">
        <div class="uk-overflow-auto">
            <h1 class="uk-heading-divider">{{titulo}}</h1>
            <ul class="uk-list uk-list-divider">
                {{#each preguntas}}
                    <li>{{valor}}:</li>
                    <ul class="uk-list uk-list-divider">
                        {{#each respuestas.res}}
                            <li>{{this}} ({{../respuestas.usuario}})</li>
                        {{/each}}
                    </ul>
                {{/each}}
            </ul>




        </div>
    </div>
</section>
